img {
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.item {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.catPic {
    width: 700px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: grey;
}
